p, h1, h2, h3, h4, a, input, textarea, button, li, span {
    font-family: 'Raleway', sans-serif;
}

.main-section, .about-section, .profile-section {
    display: none;
}

/* NAV-BAR */
.wrapper-content {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.nav-bar {
    flex-basis: 30%;
    min-height: 100%;
    border-right: 10px solid #c0c0c0;
}

.avatar-box {
    padding-top: 80px;
    text-align: center;
}

.avatar-box .avatar-box__avatar {
    max-width: 170px;
    width: 100%;
    height: 170px;
    background-image: url(../assets/images/img/avatar.jpg);
    background-size: 100%;
    background-position-y: 50%;
    border-radius: 50%;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}
.avatar-box .avatar-box__avatar:hover {
    background-size: 140%;
    background-position-y: 10%;
    background-position-x: 30%;

}

.avatar-box .avatar-box__name {
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 22px;
}

.avatar-box .avatar-box__prof {
    font-weight: 500;
    color: #ee7400;
}

.navigation {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.navigation .navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navigation__list .navigation__item {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 15px;
    border-bottom: 2px solid #c0c0c0;
    transition: all .3s ease-in-out;
}

.navigation__list .navigation__item:hover a {
    color: #ee7400;
}

.navigation__list .navigation__item a {
    display: block;
    width: 100%;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    transition: color .3s;
}

.social-links__list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.social-links__list .social-links__item {
    margin: 0 5px;
}

.social-links__list .social-links__item a {
    height: 35px;
    width: 35px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-links__list .social-links__item .social-links__link--gmail {
    background-image: url("../assets/images/svg/gmail.svg");
}
.social-links__list .social-links__item .social-links__link--gh {
    background-image: url("../assets/images/svg/github-logo.svg");
}
.social-links__list .social-links__item .social-links__link--vk {
    background-image: url("../assets/images/svg/vk.svg");
}
.social-links__list .social-links__item .social-links__link--li {
    background-image: url("../assets/images/svg/linkedin.svg");
}


/* main-section */
.wrapper-section {
    flex-basis: 100%;
    min-height: 100vh;
}

.main-section {
    background-image: url("../assets/images/bg/bg-1.jpeg");
    background-size: cover;
    height: 100%;
}

.main-section .wrapper-content {
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    justify-content: center;
    align-items: center;
}

.wrapper-content .main-section__content {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.wrapper-content .main-section__content h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.wrapper-content .main-section__content .main-section__text {
    margin-top: 10px;
}

.main-section__text a {
    color: #fff;
    transition: all .3s;
}
.main-section__text a:hover {
    color: #ee7400;
}


/* about-section */
.about-section {
    min-height: 100vh;
    background-image: url("../assets/images/bg/bg-2.jpg");
    background-size: cover;
}

.about-section .wrapper-content, .profile-section .wrapper-content {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    flex-direction: column;
    padding-top: 100px;
}

.wrapper-content .about-section__title, .profile-section .wrapper-content h2 {
    font-size: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
    text-transform: uppercase;
    color: #ee7400;
}

.about-section .wrapper-content .wrapper-text, .profile-section .content-block {
    width: 100%;
    background-color: rgba(255, 255, 255, .6);
    margin-bottom: 100px;
    padding: 40px;
}

.about-section .wrapper-text .about-section__text--common, .profile-section .content-block .content-block__descr {
    max-width: 55%;
    line-height: 1.5em;
}

.about-section .wrapper-text h4, .profile-section .content-block h4 {
    margin-bottom: 10px;
}

.about-section .wrapper-text .about-section__fact, .profile-section .content-block__list li  {
    margin-bottom: 10px;
}

.about-section .wrapper-text .about-section__text--secondary {
    line-height: 1.5em;
}


/* profile-section */
.profile-section {
    min-height: 100vh;
    background-image: url("../assets/images/bg/bg-5.jpg");
    background-size: cover;
}

.profile-section .content-block .content-block__text {
    display: block;
    margin-bottom: 10px;
}

.profile-section .content-block .content-block__list {
    display: flex;
    flex-wrap: wrap;
}

.profile-section .content-block__list li {
    margin-right: 10px;
}

.profile-section .download-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-left: 40px;
    height: 60px;
    width: 160px;
    background-color: #ee7400;
    border-radius: 5px;
}

.profile-section .download-cv span {
    color: #fff;
    font-size: 20px;
}




























.section-active {
    display: block;
}